# server port
PORT=3000

# PostgreSQL connection string
# Inside Docker Compose network:
DATABASE_URL=postgres://postgres:postgres@postgres:5432/tasks_db

# When running app locally against exposed Docker container port:
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/tasks_db

# Redis Connection URL
# Inside Docker Compose network:
REDIS_URL=redis://redis:6379

# When running app locally against exposed Docker container port:
# REDIS_URL=redis://localhost:6379
